/* ===========================
   IMPORT
=========================== */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

/* ===========================
   RESET
=========================== */

*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{

background:#050505;
color:white;
font-family:'Poppins',sans-serif;
overflow-x:hidden;

}

/* ===========================
   SCROLLBAR
=========================== */

::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-track{

background:black;

}

::-webkit-scrollbar-thumb{

background:gold;
border-radius:30px;

}

/* ===========================
   LOADER
=========================== */

#loader{

position:fixed;

top:0;
left:0;

width:100%;
height:100vh;

background:black;

display:flex;

justify-content:center;
align-items:center;

z-index:99999;

animation:fadeLoader 4s forwards;

}

.loader-box{

text-align:center;

}

.loader-box h3{

color:gold;

letter-spacing:4px;

font-weight:300;

margin-bottom:20px;

}

.loader-box h1{

font-size:65px;

font-family:'Cinzel',serif;

color:white;

text-shadow:0 0 30px gold;

}

.loader-box p{

margin-top:15px;

font-size:18px;

color:#

/* ===========================
SECTION TITLES
=========================== */

.section-heading{

text-align:center;

margin:120px auto 70px;

}

.section-heading span{

color:gold;

letter-spacing:5px;

font-size:14px;

}

.section-heading h2{

font-size:50px;

margin-top:15px;

font-family:'Cinzel',serif;

}

.section-heading p{

margin-top:20px;

color:#cfcfcf;

font-size:18px;

}

/* ===========================
QUOTE
=========================== */

.quote{

padding:120px 8%;

display:flex;

justify-content:center;

}

.quote-card{

max-width:900px;

padding:60px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(20px);

border:1px solid rgba(255,215,0,.25);

border-radius:30px;

text-align:center;

box-shadow:0 0 50px rgba(255,215,0,.15);

}

.quote-card h2{

font-size:42px;

font-family:'Cinzel',serif;

line-height:1.5;

}

.quote-card p{

margin-top:20px;

color:gold;

}

/* ===========================
ABOUT
=========================== */

#about{

padding:120px 8%;

display:flex;

gap:80px;

align-items:center;

}

.about-image img{

width:420px;

border-radius:30px;

box-shadow:0 0 45px rgba(255,215,0,.35);

}

.about-content h2{

font-size:52px;

font-family

   
